extends ../admin-layout

block content
  h1 Chỉnh sửa danh mục

  form(action=`/admin/categories/edit/${category.id}` method="POST")
    label(for="name") Tên danh mục:
    input(type="text" name="name" value=category.name required)

    label(for="description") Mô tả:
    textarea(name="description")= category.description

    button(type="submit") Cập nhật danh mục